<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:c="http://typo3.org/ns/AawTeam/FeCookies/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">

    <div id="tx_fe_cookies-banner" class="{bannerPositionClass}" role="dialog" aria-label="{f:translate(key:'plugin.label.aria.banner')}" aria-describedby="tx_fe_cookies-text">
        <div>
            <div id="tx_fe_cookies-text">
                <f:cObject typoscriptObjectPath="plugin.tx_fecookies.settings.beforeBlocks" />
                <f:if condition="{blocks}">
                    <f:for each="{blocks}" as="block">
                        <div>{block.bodytext -> f:format.html()}</div>
                    </f:for>
                </f:if>
                <f:cObject typoscriptObjectPath="plugin.tx_fecookies.settings.afterBlocks" />
            </div>
            <div>
                <c:link.eid id="tx_fe_cookies-button-accept">
                    <f:translate key="plugin.label.button.accept" default="Ok" />
                </c:link.eid>
            </div>
        </div>
        <f:if condition="{settings.enableCloseButton}">
            <div>
                <button id="tx_fe_cookies-button-close" aria-label="{f:translate(key:'plugin.label.button.close')}">&nbsp;<span></span><span></span></button>
            </div>
        </f:if>
    </div>

</f:section>

</html>
