<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:c="http://typo3.org/ns/AawTeam/FeCookies/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">

    <div class="tx_fe_cookies-banner {bannerPositionClass}" role="dialog" aria-label="{c:translateUserdefinedLabel(key:'plugin.label.aria.banner')}">
        <div>
            <div class="tx_fe_cookies-message-blocks">
                <f:cObject typoscriptObjectPath="plugin.tx_fecookies.settings.beforeBlocks" />
                <f:if condition="{blocks}">
                    <f:for each="{blocks}" as="block">
                        <div class="tx_fe_cookies-message-block">{block.bodytext -> f:format.html()}</div>
                    </f:for>
                </f:if>
                <f:cObject typoscriptObjectPath="plugin.tx_fecookies.settings.afterBlocks" />
            </div>
            <div>
                <c:link.eid class="tx_fe_cookies-button-accept" title="{c:translateUserdefinedLabel(key:'plugin.label.button.accept')}">
                    <c:translateUserdefinedLabel key="plugin.label.button.accept" />
                </c:link.eid>
            </div>
        </div>
        <f:if condition="{settings.enableCloseButton}">
            <div>
                <button class="tx_fe_cookies-button-close" title="{c:translateUserdefinedLabel(key:'plugin.label.button.close')}" aria-label="{c:translateUserdefinedLabel(key:'plugin.label.button.close')}">&nbsp;<span></span><span></span></button>
            </div>
        </f:if>
    </div>

</f:section>

</html>
