@import '_mixins.scss';

// prefix
$prefix: 'tx_fe_cookies';

// mediaquery
$mediaquerySmSize: em(768px, 16px);

// style settings
$fontSize: .8em;

$backgroundColor: rgb(26,57,101);
$fontColor: #fff;
$buttonAcceptBackgroundColor: $fontColor;
$buttonAcceptFontColor: $backgroundColor;
$buttonCloseBackgroundColor: transparent;
$buttonCloseColor: $fontColor;

$buttonAcceptMinSize: rem(100px);
$buttonCloseSize: rem(19px);
$padding: rem(18px);
$paddingSideSm: rem(30px);
$maxWidth: rem(400px);

$zIndex: 9999;
