<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:c="http://typo3.org/ns/AawTeam/FeCookies/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="content">

    <h1>
        <f:translate key="backendmodule.headings.index" />
    </h1>

    <f:if condition="{templateRow}">
        <f:then>
            <div>
                <c:be.recordIcon table="sys_template" row="{templateRow}" />
                Editing Template record <b>{templateRow.title}</b>
            </div>
            <f:form action="settings" method="post" id="FeCookiesSettings">
                <c:form.formProtection name="csrfToken" />
                <f:format.raw>{constantsEditor}</f:format.raw>
            </f:form>
        </f:then>
        <f:else>
            <f:be.infobox title="{f:translate(key:'sysmessage.notemplaterecord.heading')}" state="-1">
                {f:translate(key:'sysmessage.notemplaterecord.text')}
            </f:be.infobox>
        </f:else>
    </f:if>

</f:section>

</html>
