<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>fe_cookies</title>
        <f:alias map="{cacheBust:'{f:format.date(format:\'U\',date:\'now\')}'}">
            <link rel="stylesheet" type="text/css" href="contrib/normalize/normalize.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/stylesheets/sprites/t3skin.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/visual/fonts.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/structure/element_message.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/visual/element_message.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/backend/Resources/Public/Css/structure/element_docheader.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/structure/element_docheader.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/visual/element_docheader.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/structure/main_body.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/visual/main_body.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/backend/Resources/Public/Css/visual/main_content.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/structure/main_content.css?{cacheBust}" media="all">
            <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/visual/main_content.css?{cacheBust}" media="all">
        </f:alias>
    </head>
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">&nbsp;</div>
                <div class="right">&nbsp;</div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">&nbsp;</div>
                <div class="right">&nbsp;</div>
            </div>
        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <div>
                    <h1><f:translate key="backendmodule.headings.index" /></h1>
                </div>
                <div id="typo3-messages">
                    <div class="typo3-message message-warning">
                        <div class="message-header">Sorry...</div>
                        <div class="message-body">
                            <p>This module is available for <b>TYPO3 version 7.6+ only</b>!</p>
                            <p>Please consider upgrading your TYPO3 installation to at least version 7.6.x to get the full functionality for this module.</p>

                            <div class="typo3-message message-information">
                                <div class="message-header">But.. what should I do when I cannot upgrade right now?</div>
                                <ul class="message-body">
                                    <li>Edit the message block records in the "List" module</li>
                                    <li>Configure the constants in the "Template" module</li>
                                    <li>In general: <b>ask your integrator for help!</b></li>
                                </ul>
                            </div>

                            <p>For more information visit: <a href="https://github.com/aaw-team/fe_cookies" target="_blank">https://github.com/aaw-team/fe_cookies</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
