<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:c="http://typo3.org/ns/AawTeam/FeCookies/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="btn-toolbar" role="toolbar" aria-label="">
    <f:if condition="{showSettings}">
        <f:link.action action="settings" class="btn btn-default btn-sm"><core:icon identifier="actions-open" /> <f:translate key="backendmodule.label.button.settings" /></f:link.action>
    </f:if>
</div>

</html>
