<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:c="http://typo3.org/ns/AawTeam/FeCookies/ViewHelpers"
      data-namespace-typo3-fluid="true">


<div class="btn-toolbar" role="toolbar" aria-label="">
    <f:link.action action="index" class="btn btn-default btn-sm t3js-editform-close" title="{f:translate(key:'{c:compatibility.lll(key:\'rm.closeDoc\',ext:\'lang\',file:\'locallang_core.xlf\')}')}">
        <core:icon identifier="actions-close" />
    </f:link.action>
    <f:if condition="{templateRow}">
        <div class="btn-group t3js-splitbutton">
            <button name="_savedok" class="btn btn-default btn-sm " value="1" title="{f:translate(key:'{c:compatibility.lll(key:\'rm.saveDoc\',ext:\'lang\',file:\'locallang_core.xlf\')}')}" form="FeCookiesSettings">
                <core:icon identifier="actions-document-save" /> <f:translate key="{c:compatibility.lll(key:'rm.saveDoc',ext:'lang',file:'locallang_core.xlf')}" />
            </button>
        </div>
    </f:if>
</div>

</html>
